.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
src/
**/.vscode-test.*
esbuild.js
node_modules
out/
scripts/
*.vsix
colorexamples.json
settingsTemplate.json
keywords.json
prefixmap.json
classifications.json
.venv/
README-template.md
settingsSRGB.json
settings.json