.cursor/
.git/
.gitignore
.venv/
.venv/
.vscode-test/
.vscode/
.yarnrc
*.vsix
*.sh
requirements.txt
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
classifications.json
colorexamples.json
docs/
esbuild.js
keywords.json
node_modules
out/
prefixmap.json
README-template.md
scripts/
settings.json
settingsSRGB.json
settingsTemplate.json
semanticScopesForPackage.json
src/
vsc-extension-quickstart.md
darkModern.json
